/* @media screen (min-width: 600px) and (max-width: 800px) {
    p {
      font-size: 15px;
    }
    h1, h2, h3 {
      font-size: 20px;
    }
} */
@media screen (min-width: 600px) and (max-width: 800px) {
  p {
    font-size: 15px;
  }
  h1, h2, h3 {
    font-size: 20px;
  }
}